@import './reset.css';

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    //background: linear-gradient(to top, rgb(250,215,11), rgb(252,124,74)); // Утро
    //background: linear-gradient(to top, rgb(195,139,176), rgb(93,101,148)); // Вечер
    //background: linear-gradient(to top, rgb(71,88,112), rgb(71,82,107)); // Ночь
}

.night {
    background: linear-gradient(to top, rgb(71,88,112), rgb(71,82,107)); // Ночь
}