@import './reset.css';

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1000px;

    .app {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.morning {
    background: linear-gradient(to top, rgb(250,215,11), rgb(252,124,74));
}

.night {
    background: linear-gradient(to top, rgb(71,88,112), rgb(71,82,107));
}

.day {

}

.evening {
    background: linear-gradient(to top, rgb(195,139,176), rgb(93,101,148));
}




.logic-container {
    width: 500px;
    height: 300px;
    background-color: rgba(5, 211, 13, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}