@import './reset.css';

html, body, #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 1000px;
}



.app__container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-flow: column;
    transition: background 300ms linear;
}

.main-container__bg {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__header {
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    margin: 0;
    padding: 0 2rem;
    min-height: 4rem;
    animation: slidedown 0.5s ease-in-out, fadein 1s ease-in-out;
}

.hamburger__icon {
    z-index: 50;
    height: 2.5rem;
}

.logo__icon {
    flex-grow: 2;
    display: flex;
    align-items: center;
}
  
.logo__text {
    font-family: sans-serif;
    font-size: large;
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #2B244D;
}

.date__text {
    flex-grow: 1;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    display: inline;
    margin: 0.5rem 0;
    color: #2B244D;
}



.toggle-button__container {
    cursor: pointer;
    position: relative;
    margin: 0 0.75rem 0 0.25rem;
    display: inline-flex;
    
  }
  
  .mode-toggle__container {
    flex-grow: 2;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  
  .mode-toggle__input {
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  .mode-toggle__bg {
    height: 1rem;
    width: 2rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    transition: background-color 300ms linear;
  }
  
  .mode-toggle__circle {
    height: 1.30rem;
    width: 1.30rem;
    background-color: #2B244D;
    position: absolute;
    top: -0.18rem;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(0, 0, 255, 0.5);
    transition: left 300ms linear;
    left: 0.2rem;
  }
  
  .mode-toggle__circle-checked {
    background-color: white;
    left: 1.5rem;
  }
  
  .mode-toggle__bg-checked {
    background-color: #FF0070;
  }
  
  .mode-toggle__text {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #2B244D; 
}
  