.weather-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 38rem;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    margin: 0 auto;
    padding: 1rem;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 1.75rem;
    animation: 1s ease-in-out slideright,1.25s ease-in-out fadein;
}

.weather-card__city {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    height: 3.75rem;
}

.weather-card__temp {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 3.75rem;

    & > span:first-child {
        font-size: 2.5rem;
        line-height: 2.4rem;
    }

    & > span:last-child {
        line-height: 1rem;
        letter-spacing: .1rem;
    }
}

.long-name {
    font-size: 1rem;
    max-width: 10rem;
    white-space: normal;
}

.small-name {
    margin-left: 1rem;
}



.weather-card__icon {
    margin-left: -1rem;
}

.svg-extra-long-name {
    margin-left: -1.5rem;
}



.weather-card__min-max {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
    height: 3.75rem;

    .min__container, .max__container {
        height: 3.75rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        & > svg {
          height: 0.8rem;
        }

        & > span {
          line-height: 1rem;
          font-size: 1.2rem;
        }

        & > span:first-of-type {
          padding: 0.5rem 0;
        }

        &:nth-child(1) span:nth-child(3) {
          color: #00ff9b;
        }

        &:nth-child(2) span:nth-child(3) {
          color: red;
        }
      }
}


.weather-card__add-city-btn {
    .add-city-btn {
      font-family: "Roboto", sans-serif;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 2rem;
      padding: 0.7rem 1.5rem;
      color: white;
      background-color: #2b244d;
      font-size: 0.9rem;
      font-weight: bold;
      box-shadow: 0 0 10px rgb(25,16,74);
      transition: all 0.4s;
    }
    
    .add-city-btn:hover {
      background-color: #31feae;
      box-shadow: 0 0 25px #11422F;
    }
  }