.weather-card {
    font-family: "Roboto", sans-serif;
    width: 18rem;
    height: 27rem;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    margin: 0 auto;
    padding: 2rem 2rem 1rem 2rem;
    background-color: #fff;
    border-radius: 1.75rem;
    margin-top: 2rem;
    display: flex;
    flex-flow: column;
    animation: 1s ease-in-out slideup,1.25s ease-in-out fadein;

    %weather-card__item {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .weather-card__city {
      font-weight: 300;
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
      height: 16%;
      
      @extend %weather-card__item;
    }

    .style-city {
      height: 10%;
    }

    .weather-card__icon {
      height: 30%;
      @extend %weather-card__item;
    }

    .weather-card__temp {
      height: 20%;
      @extend %weather-card__item;
      flex-flow: column;
      justify-content: flex-end;

      & > span:first-child {
        font-size: 3rem;
        line-height: 3rem;
      }
      & > span:last-child {
        margin-top: 0.5rem;
        text-transform: uppercase;
        line-height: 1rem;
        letter-spacing: .1rem;
      }
    }

    .weather-card__min-max {
      height: 16%;
      @extend %weather-card__item;
      justify-content: space-around;
      align-items: flex-end;

      .min__container, .max__container {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        & > svg {
          height: 0.8rem;
        }

        & > span {
          line-height: 1rem;
          font-size: 1.2rem;
        }

        & > span:first-of-type {
          padding: 0.5rem 0;
        }

        &:nth-child(1) span:nth-child(3) {
          color: #00ff9b;
        }

        &:nth-child(2) span:nth-child(3) {
          color: red;
        }
      }
    }
    .weather-card__add-city-btn {
      @extend %weather-card__item;
      align-items: flex-end;
      height: 18%;
      
      .add-city-btn {
        font-family: "Roboto", sans-serif;
        outline: none;
        border: none;
        cursor: pointer;
        border-radius: 2rem;
        padding: 0.7rem 1.5rem;
        color: white;
        background-color: #2b244d;
        font-size: 0.9rem;
        margin-bottom: 0.75rem;
        font-weight: bold;
        box-shadow: 0 0 10px rgb(25,16,74);
        transition: all 0.4s;
      }
      
      .add-city-btn:hover {
        background-color: #31feae;
        box-shadow: 0 0 25px #11422F;
      }
    }
}


.style-for-short-name {
  .weather-card__city {
    height: 10%;
  } 

  .weather-card__temp {
    height: 20%;
  }

  .weather-card__min-max {
    height: 20%;
  }

  .weather-card__add-city-btn {
    height: 20%;
  }
}

